body {
    margin: 0;
  }

  .grid-container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
  }

  .grid-box1 {
    border: 1px solid black;
    background-color: red;
    grid-column: 1/3;
    /* grid-column-start: 1;
    grid-column-end: 3; */
  }

  .grid-box2 {
    border: 1px solid black;

    background-color: green;
  }

  .grid-box3 {
    border: 1px solid black;
    background-color: orangered;

    grid-column: 4/5;
    /* grid-column-start: 4;
    grid-column-end: 5; */

    grid-row: 1/4;
    /* grid-row-start: 1;
    grid-row-end: 4; */
  }

  .grid-box4 {
    border: 1px solid black;
    background-color: purple;
  }

  .grid-box5 {
    border: 1px solid black;
    background-color: hotpink;
  }

  .grid-box6 {
    border: 1px solid black;
    background-color: blue;
  }

  .grid-box7 {
    border: 1px solid black;
    background-color: darkred;
  }

  .grid-box8 {
    border: 1px solid black;
    background-color: rgb(72, 0, 139);
    grid-column: 2/4;
  }