      body {
        margin: 0;
      }

      .box-container {
        width: 100vw;
        height: 100vh;
        position: relative;
      }

      .box-container > div {
        width: 50%;
        height: 50%;
        position: absolute;
      }
      .box1 {
        background-color: red;
      }
      .box2 {
        background-color: palevioletred;
        right: 0;
        bottom: 0;
      }
      .box3 {
        background-color: green;
        top: 0;
        right: 0;
      }
      .box4 {
        background-color: orange;
        bottom: 0;
        left: 0;
      }

      .corner-container > div {
        width: 12vw;
        height: 12vw;
        background-color: white;
        position: absolute;
        z-index: 1;
      }

      .corner1 {
        border-bottom-right-radius: 100%;
      }

      .corner2 {
        top: 0;
        right: 0;
        border-bottom-left-radius: 100%;
      }

      .corner3 {
        bottom: 0;
        left: 0;
        border-top-right-radius: 100%;
      }

      .corner4 {
        bottom: 0;
        right: 0;
        border-top-left-radius: 100%;
      }

      .middle-container > div {
        width: 8vw;
        height: 8vw;
        background-color: white;
        position: absolute;
        z-index: 1;
      }

      .middle1 {
        top: 0;
        left: 50vw;
        border-bottom-right-radius: 100%;
      }

      .middle2 {
        top: 0;
        right: 50vw;
        border-bottom-left-radius: 100%;
      }

      .middle3 {
        bottom: 0;
        right: 50vw;
        border-top-left-radius: 100%;
      }

      .middle4 {
        bottom: 0;
        left: 50vw;
        border-top-right-radius: 100%;
      }

      .box-container > div div {
        width: 17vw;
        height: 17vw;
        background-color: white;
        border-radius: 50%;
        z-index: 1;
        position: absolute;
      }

      .circle1 {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .circle2 {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      .circle3 {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      .circle4 {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      .center-box {
        width: 17vw !important;
        height: 17vw !important ;
        background-color: white;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: relative;
      }

      .box-container .center-box .inner-circle {
        width: 10vw;
        height: 10vw;
        background-color: red;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .box-container .circle1 .inner-box1,
      .box-container .circle2 .inner-box2,
      .box-container .circle3 .inner-box3,
      .box-container .circle4 .inner-box4 {
        width: 8vw;
        height: 8vw;
        border-radius: 0;
        background-color: red;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }